.cointainer1{
    background-color:black;
    width: 1025.282958984375px;
    height: 936px;
    top: 44px;
    left: 383px;
    border-radius: 26.839250564575195px;
    border: 0.27957549691200256px;
    
 
 }
 
 .graph1 {
     width: 951.0372314453125px;
 height: 454px;
 top: 98px;
 left: 420px;
 right:50px;
 border-radius: 22px;
 background: rgba(71, 71, 71, 0.25);
 
 }
 
 .table{
     width: 951px;
 height: 379px;
 top: 580px;
 left: 420px;
 border-radius: 22px;
 border: 0.5px;
 background: linear-gradient(0deg, rgba(118, 118, 118, 0.23), rgba(118, 118, 118, 0.23)),
 linear-gradient(0deg, #FFFFFF, #FFFFFF);
 
 }