body {
	background:#EEF4FF;
	margin:0;
}

.spacer {
	width:100%;
	height:50vh;
	background:#ddd;
}


.headline {
	
	border-radius:6px;
	height:5em;
	width:100%;
}

.text {
	margin:0.8em 0 0 0;
	color:white;
	border-radius:6px;
	height:1em;
	width:100%;
}




.gallery {
  display:flex;	
 
}

.left {
	width:50%;
}

.detailsWrapper {
   
	margin:auto;
	width:80%;
}

.details {
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.right {
	
	width:50%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.photos {
	margin-top:50px;
	width:45vw;
	height:100%;
	border-radius: 5%;
	position:relative;
    text-color:white;
}

.photo {
	position:absolute;
	width:100%;
	height:60%;
}



.bluegrey {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.53), rgba(255, 255, 255, 0.53)),
linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

	
}

.bbe {
	background:#A1CAF1;
}
.skyblue {
	background:#ADD8E6;
}
.raf {
	background:#5D8AA8;
}
.bs {
	background:#5D8AA8;
}
.turqoise {
	background: #AFEEEE;
}
.rov1{
	background-image: url("/assets/rov1.jpg");
}